@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
body {
    background-image: url(../images/pexels-fwstudio-129731.jpg);
    font-family: 'Roboto', sans-serif;
}

.header {
    background-color: #FFA07A;
    border: groove 1em #C0392B;
    border-radius: 2em;
    width: 600px;
    margin: 0 auto; 
    font-size: 16px;
}

.header__title {
    color: #524f4f;
    text-align: center;
    font-weight: 700;  
}

.container-calculadora {
    background-color: #FFA07A; 
    border: groove 1em #C0392B;
    border-radius: 2em;
    width: 600px;
    margin: 10px auto; 
}

 .calculadora__label,
 .calculadora__input{
    font-weight: 400;
    margin: 6px auto;
    margin-left: 50px;
    color: #524f4f;
    
}
.calculadora__container-button {
    text-align: center;
    padding: 10px;
}
.calculadora__button {
    display: inline-block;
    border-radius: 6px;
    border-color: #C0392B;
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    padding: 4px; 
}

.button-calcular:hover {
    opacity: 1;
    color: #C0392B;
}

.txt-final {
    color: #524f4f;
    margin-left: 50px;
}

.txt-final--total {
    color: #C0392B;
    font-weight: 700;
}

